<article>
    <table>
        <tr>
            <td>ID</td>
            <td><span style="font-size: 0.6em;">{{id}}</span></td>
        </tr>
        <tr>
            <td>Gdzie?</td>
            <td>{{where}}</td>
        </tr>
        <tr>
            <td>Kto?</td>
            <td>{{who}}</td>
        </tr>
        <tr>
            <td>Co?</td>
            <td>{{what}}</td>
        </tr>
        <tr>
            <td>Kategoria</td>
            <td>{{category}}</td>
        </tr>
        <tr>
            <td colspan="2">
                <button id="{{id}}">Oznacz jako rozwiązany</button>
            </td>
        </tr>
    </table>
</article>