<article id="article{{id}}">
    <table>
        <tr class="unsolved">
            <td>ID</td>
            <td><span style="font-size: 0.6em;">{{id}}</span></td>
        </tr>
        <tr>
            <td>Wystąpienie</td>
            <td>{{where}}</td>
        </tr>
        <tr>
            <td>Zgłaszający</td>
            <td>{{who}}</td>
        </tr>
        <tr>
            <td>Opis problemu</td>
            <td>{{what}}</td>
        </tr>
        <tr>
            <td>Kategoria</td>
            <td>{{category}}</td>
        </tr>
        <tr>
            <td>Data zgłoszenia</td>
            <td>{{when}}</td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="markAsSolvedButton" id="{{id}}">Oznacz jako rozwiązany</button>
            </td>
        </tr>
    </table>
</article>